version: "3.8"
services:
  mysql:
    image: mysql:8.0
    container_name: local-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: qwer1234!
      MYSQL_DATABASE: url-shortener
      MYSQL_USER: admin
      MYSQL_PASSWORD: qwer1234!
    volumes:
      - ./mysql-data:/var/lib/mysql
